body {
	color: black;
	font-family: arial, sans-serif;
	font-size: 12px;
}

table {
	border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.functions {
	width: 98%;
	height: 450px;
}

.points-description {
	width:  28%;
	float: left;
	padding: 1%;
}

.plot-function {
	float: right;
	width:  70%;
}

#user-options {
	background: #d5cbed;
	padding: 10px;
}