body {
	color: black;
	font-family: arial, sans-serif;
	font-size: 12px;
}

table {
	border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.functions {
	width: 98%;
	height: auto;
	min-height: 500px;
	padding: 1px;

	/*background: #d5cbed;*/
	padding: 10px;
	border-color: #A2B5CD;
	border-style: solid;
	border-width: 1px;
	border-radius:5px;
}

.points-description {
	float: left;
}

.plot-function {
	float: right;
}

#user-options {
	background: #d5cbed;
	padding: 10px;
	border-top-radius: 5px;
	border-color: #A2B5CD;
	border-style: solid;
	border-width: 1px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}